.array-container {
    display: block;
    top: 30%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.array-bar {
    width: 2px;
    background-color: rgb(43, 181, 199);
    display: inline-block;
    margin: 0 1.2px;
}

.newarray-button {
    
}